@model medicalassitent.web.Data.Entities.Analytics

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Analytics</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_Paciente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id_Paciente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Id_Medico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id_Medico)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.No_Historia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.No_Historia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ac_Urico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ac_Urico)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Albumina)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Albumina)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amilasa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amilasa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Billirubina)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Billirubina)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Calcio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Calcio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ck_Total)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ck_Total)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ck_MB)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ck_MB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Col_Total)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Col_Total)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Col_HDL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Col_HDL)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Col_LDL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Col_LDL)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Col_VLDL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Col_VLDL)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurGluc_Hora)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurGluc_Hora)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cloro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cloro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Creatinina)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Creatinina)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ferritina)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ferritina)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fos_Alcalina)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fos_Alcalina)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FosfAcTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FosfAcTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FosfAcNoProst)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FosfAcNoProst)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FosfAcProst)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FosfAcProst)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fosfolipidos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fosfolipidos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fosforo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fosforo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gluc_Ayunas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gluc_Ayunas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gluc_Prandial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gluc_Prandial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gluc_Gluc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gluc_Gluc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gluc_Capilar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gluc_Capilar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hem_Gluc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hem_Gluc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GGTP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GGTP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hi_Serico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hi_Serico)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cap_Hierro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cap_Hierro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inm_lgA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inm_lgA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inm_Lgc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inm_Lgc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inm_Lgm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inm_Lgm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ldh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ldh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lipasa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lipasa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lip_Tot)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lip_Tot)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Magnesio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Magnesio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Microal_Cuant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Microal_Cuant)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Potasio_K)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Potasio_K)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prot_Total)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prot_Total)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prot_Frac)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prot_Frac)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sodio_Na)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sodio_Na)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SGCT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SGCT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SGTP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SGTP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Trigliceridos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Trigliceridos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tropl_Cualit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tropl_Cualit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TropT_Cualit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TropT_Cualit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TropT_Cuanti)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TropT_Cuanti)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Urea)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Urea)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bacil_En)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bacil_En)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bacil_Ser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bacil_Ser)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cultivo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cultivo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TincGram_en)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TincGram_en)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cont_Sangre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cont_Sangre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cont_Nasal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cont_Nasal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cont_Retic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cont_Retic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Eritrosedimentacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Eritrosedimentacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Falcemia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Falcemia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hemograma)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hemograma)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hemotozoarios)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hemotozoarios)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tiemp_Prot)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tiemp_Prot)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tiemp__Tromb)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tiemp__Tromb)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tiemp_Sang)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tiemp_Sang)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tiemp_Coag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tiemp_Coag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ant_Feb)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ant_Feb)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ASO_Latex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ASO_Latex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ASO_Cuant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ASO_Cuant)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.C3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.C3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.C4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.C4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dengue_Lgg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dengue_Lgg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dengue_Lgm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dengue_Lgm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fac_Latex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fac_Latex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fac_Cuant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fac_Cuant)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HTLV)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HTLV)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lep_Lgg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lep_Lgg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lep_Lgm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lep_Lgm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pcr_Latex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pcr_Latex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pcr__Cuant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pcr__Cuant)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PCR_Ultra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PCR_Ultra)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prueba_Orina)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prueba_Orina)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prueba_Sangre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prueba_Sangre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tb_Micodot)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tb_Micodot)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tip_Sang)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tip_Sang)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prueb_Directa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prueb_Directa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prueb_Indirecta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prueb_Indirecta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vdrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vdrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Acido_Folico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Acido_Folico)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Antic_Antit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Antic_Antit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Anti_Hav)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Anti_Hav)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AntiHav_Lgg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AntiHav_Lgg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AntiHbc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AntiHbc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AntiHbe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AntiHbe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hbcg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hbcg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cortisol)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cortisol)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cort_Muest)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cort_Muest)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cort_Pm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cort_Pm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Elect_Hb)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Elect_Hb)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Elect_MAcid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Elect_MAcid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estrogenos_Totales)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estrogenos_Totales)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fsh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fsh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HepatB_Ag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HepatB_Ag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hepat_HVC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hepat_HVC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Antigeno_Ag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Antigeno_Ag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HIV)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HIV)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hormona_Basal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hormona_Basal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hormona_Est)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hormona_Est)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inmunoglobina)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inmunoglobina)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Progesterona)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Progesterona)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prolactina)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prolactina)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.T3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.T3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.T3_Libre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.T3_Libre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.T4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.T4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.T4_Libre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.T4_Libre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tsh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tsh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Testoterona)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Testoterona)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tiroglobulina)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tiroglobulina)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Toxo_Lgg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Toxo_Lgg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Toxo_Lgm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Toxo_Lgm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vitaminas_B)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vitaminas_B)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ana)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ana)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Anti_Dna)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Anti_Dna)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Celulas_Le)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Celulas_Le)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Monotest)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Monotest)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Alfp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alfp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cea)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cea)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cea_15)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cea_15)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cea_19)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cea_19)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cea_125)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cea_125)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Antidoping_CocMar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Antidoping_CocMar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Antidoping_Panel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Antidoping_Panel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Depur_Creat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Depur_Creat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Examen_Orina)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Examen_Orina)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Proteina_Orina)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Proteina_Orina)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Proteina_BJ)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Proteina_BJ)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Coprologico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Coprologico)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Coprologico_X2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Coprologico_X2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Coprologico_X3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Coprologico_X3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Coprologico_Conc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Coprologico_Conc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dig_Heces)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dig_Heces)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.H_Pilory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.H_Pilory)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Oxiuros_Cinta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Oxiuros_Cinta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rotavirus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rotavirus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sust_Reduc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sust_Reduc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sangre_Oculta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sangre_Oculta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Colera)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Colera)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Otros)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Otros)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dx)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dx)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WasDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WasDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
