@model IEnumerable<medicalassitent.web.Data.Entities.Analytics>

<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div id="contenido" class="modal-content">
            ...
        </div>
    </div>
</div>

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_Paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Medico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.No_Historia)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_Paciente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_Medico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.No_Historia)
                </td>
                <td>
                    <a href="#" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl" onclick="Edit(@item.Id)">Editar</a> |
                    <a href="#" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl" onclick="Detalle(@item.Id)">Detalle</a> |
                    <a href="#" type="button" class="btn btn-danger" data-toggle="modal" data-target=".bd-example-modal-xl" onclick="Eliminar(@item.Id)">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">

    function Edit(a) {
        $('#contenido').load('/Analytics/Edit/' + a)
    }
    function Detalle(a) {
        $('#contenido').load('/Analytics/Details/' + a)
    }
    function Eliminar(a) {
        $('#contenido').load('/Analytics/Delete/' + a)
    }

</script>